{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "$id": "https://esgf.github.io/stac-transaction-api/{{ project_id|lower }}/{{ catalog_version }}/schema.json#",
  "title": "{{ project_id|upper }} Extension",
  "description": "STAC {{ project_id|upper }} Extension for STAC Items and STAC Collection Summaries.",
  "type": "object",
  "required": [
    "stac_extensions"
  ],
  "properties": {
    "stac_extensions": {
      "type": "array",
      "allOf": [
        {
          "contains": {
            "const": "https://stac-extensions.github.io/file/{{ file_extension_version }}/schema.json"
          }
        },
        {
          "contains": {
            "const": "https://stac-extensions.github.io/alternate-assets/{{ alternate_assets_extension_version }}/schema.json"
          }
        },
        {
          "contains": {
            "const": "https://esgf.github.io/stac-transaction-api/{{ project_id|lower }}/{{ catalog_version }}/schema.json"
          }
        }
      ]
    }
  },
  "oneOf": [
    {
      "$comment": "This is the schema for STAC Items.",
      "type": "object",
      "required": [
        "collection",
        "id"
      ],
      "properties": {
        "type": {
          "const": "Feature"
        },
        "id": {
          "type": "string",
          "pattern": {{ dataset_id_regex|tojson }}
        },
        "collection": {
          "const": "{{ project_id }}"
        },
        "properties": {
          "allOf": [
            {
              "$ref": "#/definitions/require_item_fields"
            },
            {
              "$ref": "#/definitions/item_fields"
            }
          ]
        },
        "assets": {
          "type": "object",
          "additionalProperties": {
            "allOf": [
              {
                "$ref": "#/definitions/require_asset_fields"
              },
              {
                "$ref": "#/definitions/asset_fields"
              }
            ]
          }
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/link_fields"
          }
          {% if required_link_rels %},
          "allOf": [
            {% for rel in required_link_rels|sort %}
            {% if not loop.first %},{% endif %}
            {
              "contains": {
                "properties": {
                  "rel": {
                    "const": "{{ rel }}"
                  }
                },
                "required": [
                  "rel"
                ]
              }
            }
            {% endfor %}
          ]
          {% endif %}
        }
      }
    },
    {
      "$comment": "This is the schema for STAC Collections, or more specifically only Collection Summaries in this case. By default, only checks the existence of the properties, but not the schema of the summaries.",
      "type": "object",
      "required": [
        "type",
        "summaries"
      ],
      "properties": {
        "type": {
          "const": "Collection"
        },
        "summaries": {
          "$ref": "#/definitions/require_any"
        }
      }
    }
  ],
  "definitions": {
    "require_any": {
      "$comment": "Only used for Collection summarizes.",
      "type": "object",
      "minProperties": 1
    },
    "require_item_fields": {
      "$comment": "Please list all fields here so that we can force the existence of one of them in other parts of the schemas.",
      "allOf": [
        {
          "required": [
            "created"
          ]
        },
        {
          "required": [
            "end_datetime"
          ]
        },
        {
          "required": [
            "latest"
          ]
        },
        {
          "required": [
            "title"
          ]
        },
        { 
          "required":[
            "version"
          ]
        },
        { 
          "required":[
            "project"
          ]
        }, 
        {
          "required": [
            "retracted"
          ]
        },
        {
          "required": [
            "size"
          ]
        },
        {
          "required": [
            "access"
          ]
        },
        {
          "required": [
            "start_datetime"
          ]
        },
        {
          "required": [
            "updated"
          ]
        }
        {% for dataset_property in catalog_dataset_properties|sort(attribute="field_name") %}
          {% if dataset_property.is_required %}
            ,
            {
              "required": [
                "{{ dataset_property.field_name }}"
              ]
            }
          {% endif %}
        {% endfor %}
      ]
    },
    "require_asset_fields": {
      "$comment": "Please list all fields here so that we can force the existence of one of them in other parts of the schemas.",
      "allOf": [
        {
          "required": [
            "created"
          ]
        },
        {
          "required": [
            "protocol"
          ]
        },
        {
          "if": {
            "properties": {
              "type": {
                "const": "application/netcdf"
              }
            },
            "required": ["type"]
          },
          "then": {
            "required": [
              "file:size",
              "file:checksum",
              "file:local_path"
              ]
          }
        }
        {% for file_property in catalog_file_properties|sort(attribute="field_name") %}
          {% if file_property.is_required %}
            ,
            {
              "required": [
                "{{ file_property.field_name }}"
              ]
            }
          {% endif %}
        {% endfor %}
      ]
    },
    "asset_fields": {
      "$comment": " Don't require fields here, do that above in the corresponding schema.",
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string",
          "enum": [
            "http",
            "https",
            "globus",
            "gridftp",
            "kerchunk",
            "netcdfsubset",
            "opendap",
            "wms",
            "wps",
            "s3"
          ]
        }
        {% for file_property in catalog_file_properties|sort(attribute="field_name") %}
          ,"{{ file_property.field_name }}": {
          {% for key, value in file_property.field_value|dictsort(reverse=true) %}
            "{{ key }}": {{ value|tojson }}
            {% if not loop.last %},{% endif %}
          {% endfor %}
          }
        {% endfor %}
      }
    },
    "item_fields": {
      "$comment": " Don't require fields here, do that above in the corresponding schema.",
      "type": "object",
      "properties": {
        "latest": {
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "pattern": {{ title_regex|tojson }}
        },
        "version": {
          "type": "string",
          "pattern": "^\\d{4}(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])$"
        },
        "project": {
          "type": "string",
          "const": {{ project_id|tojson }}
        },
        "access": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "HTTPServer",
              "Globus"
              ]
          },
          "minItems": 1,
          "uniqueItems": true
        }
        "retracted": {
          "type": "boolean"
        },
        "size": {
          "type": "integer",
          "minimum": 0
        }
        {% for dataset_property in catalog_dataset_properties|sort(attribute="field_name") %}
          ,"{{ dataset_property.field_name }}": {
          {% for key, value in dataset_property.field_value|dictsort(reverse=true) %}
            "{{ key }}": {{ value|tojson }}
            {% if not loop.last %},{% endif %}
          {% endfor %}
        }
        {% endfor %}
      },
      "patternProperties": {
        "^(?!{{ project_id|lower }}:)": {}
      },
      "additionalProperties": false
    },
    "link_fields": {
      "$comment": "Validation schema for STAC links. See https://github.com/radiantearth/stac-spec/blob/master/commons/links.md",
      "type": "object",
      "properties": {
        "href": {
          "format": "uri"
        }
      }
      {% set constrained_links = catalog_link_properties|selectattr("has_constraints")|list %}
      {% if constrained_links %},
      "allOf": [
        {% for link_prop in constrained_links|sort(attribute="rel") %}
        {% if not loop.first %},{% endif %}
        {
          "if": {
            "properties": {
              "rel": {
                "const": "{{ link_prop.rel }}"
              }
            }
          },
          "then": {
            "properties": {
              {% set ns = namespace(first=true) %}
              {% if link_prop.href_pattern %}
              {% set ns.first = false %}
              "href": {
                "pattern": {{ link_prop.href_pattern|tojson }}
              }
              {% endif %}
              {% if link_prop.title_const %}
              {% if not ns.first %},{% endif %}
              {% set ns.first = false %}
              "title": {
                "const": {{ link_prop.title_const|tojson }}
              }
              {% endif %}
              {% if link_prop.type_constraint %}
              {% if not ns.first %},{% endif %}
              "type": {{ link_prop.type_constraint|tojson }}
              {% endif %}
            }
          }
        }
        {% endfor %}
      ]
      {% endif %}
    }
  }
}
